@charset "utf-8";
@import "variables";
@import "mixins";
@import "../plugins/swiper/swiper.min.css";
#swiper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //display: block;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.arrow {
  position: absolute;
  .blockCenter(90%);

}

.editSwiper{
  display: none;
}

.share9 .doneListShare .swiper-no-swiping li {
  display: none;
}

#afterPre .shareMask{
  display: none;
  left: 0;
  //top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
}